@media (max-width: 1220px) {
  .projetos {
    grid-template-columns: auto;
    gap: 5px;
  }
}
@media (max-width: 900px) {
  .postagem {
    grid-template-columns: auto;
    justify-items: center;
    text-align: center;
  }
  .postagem ul {
    display: grid;
    grid-template-columns: auto auto;
  }
  .postagem h2 {
    margin-top: 15px;
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: auto;
    gap: 10px;
    padding: 10px;
  }
  .tecnologias li {
    padding: 16px;
    align-self: center;
    font-size: 15px;
  }
  .experiencia ul,
  .educacao ul {
    text-align: center;
    list-style: none;
  }
  h2 {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .tecnologias ul {
    grid-template-columns: auto;
  }
  .tecnologias li {
    padding: 10px;
  }
  .experiencia ul,
  .educacao ul {
    margin: 0px;
  }
}
@media (max-width: 360px) {
  .grid {
    padding: 0px;
  }
  .projeto-caixa-baixo > span::before {
    display: none;
  }
}
